# Basic data types

In [1]:
print(type(1))

<class 'int'>

In [2]:
print(type(1.3))

<class 'float'>

In [3]:
print(type('stanford'))

<class 'str'>

## Basic data type : int

In [4]:
x = 20

In [5]:
x += 2 # x = x + 2
print(x)

22

In [6]:
x -= 2 # x = x - 2
print(x)

20

In [7]:
x /= 2 # x = x / 2, returns a float, x /y -> float 
print(x)
print(type(x))

10.0
<class 'float'>

In [8]:
x //= 2 # x = x // 2, integer division 
print(x)

5.0

In [9]:
x = int(x)
x *= 2
print(x)

10

In [10]:
y = x**2
print(y)

100

## Basic data type : boolean

In [11]:
b = 9 ** 2 == 3 ** 4 # True or False
print(b)

True

## Basic data type : float

In [12]:
y = 9.926

In [13]:
int_y = int(y)
print("Typesetting y into integer using int {}".format(int_y))

Typesetting y into integer using int 9

In [14]:
round_y = round(y)
print("Typesetting y into integer using round {}".format(round_y))

Typesetting y into integer using round 10

In [15]:
round_y_with_decimal = round(y, 2)
print("Rounding off y to 2 decimal places using round {}".format(round_y_with_decimal))

Rounding off y to 2 decimal places using round 9.93

In [16]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

## Basic data type : str

In [17]:
sentence1 = 'We\'re going to movies after exam!'
print(sentence1)

We're going to movies after exam!

In [18]:
sentence2 = "We're going to movies after exam!"
print(sentence2)

We're going to movies after exam!

In [19]:
multi_line_string = """
    Welcome to CME 211!
    We will learn to create readable and reusable software in this class. 
    """
print(multi_line_string)

    Welcome to CME 211!
    We will learn to create readable and reusable software in this class.

In [20]:
# individual item assignment is not allowed in strings
movie = 'Thor'
movie[0] = 'D' # we expect an error in this statement!

TypeError: 'str' object does not support item assignment

In [21]:
'D' + movie[1:] # create a new string with desired characters

'Dhor'

In [22]:
print(movie * 2)

ThorThor

In [23]:
movie += ' Ragnarok' # movie = movie + ' Ragnarok'
print(movie)

Thor Ragnarok

In [24]:
movie.find('r') # string.find(substring)

3

In [25]:
movie.find('R')

5

In [26]:
print("movie in lowercase is {}".format(movie.lower()))
print("movie in uppercase is {}".format(movie.upper()))

movie in lowercase is thor ragnarok
movie in uppercase is THOR RAGNAROK

### Slicing : used in list and str
syntax = string[start : end : jump] where default values are start = 0, end = len(string), jump = 1

### Note : start is always included and end is never included

In [27]:
movie[:4]

'Thor'

In [28]:
movie[5:]

'Ragnarok'

In [29]:
movie[0:12:2]

'To anr'