## Lists
- ordered and mutable
- we already covered slicing!

In [1]:
companies = ['Google', 'Facebook', 'Netflix', 'Amazon', 'Intel']

In [2]:
companies[-1] = 'Tesla'
print(companies)

['Google', 'Facebook', 'Netflix', 'Amazon', 'Tesla']

In [3]:
if 'Apple' in companies: # item in list -> True or False
    print("Yes!")
else:
    companies += ['Apple']
    print(companies)

['Google', 'Facebook', 'Netflix', 'Amazon', 'Tesla', 'Apple']

### Question : what is the time complexity of 'item in list' operation?
It is O(n) where n = length of list

In [4]:
min(companies)

'Amazon'

In [5]:
max(companies)

'Tesla'

## Question : what is time complexity for sorting a list?
O(nlog(n)) for a list of size n.

In [6]:
# returns a new list containing sorted values
sorted_companies = sorted(companies)

In [7]:
print(companies)

['Google', 'Facebook', 'Netflix', 'Amazon', 'Tesla', 'Apple']

In [8]:
# sorts the list in place, does not return anything!
companies.sort() 
print(companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'Netflix', 'Tesla']

In [9]:
# item exists in the list
companies.index('Facebook')

2

In [10]:
# item does not exist in the list, we expect an error!
companies.index('Salesforce')

ValueError: 'Salesforce' is not in list

### Question : What is the time complexity of 'list.index(item)' method?
O(n)

### List comprehensions
We can use list comprehensions for 
- run an operation or function on each item of the list
- filter items from the list

In [11]:
companies = [company.lower() for company in companies] 
print(companies)

['amazon', 'apple', 'facebook', 'google', 'netflix', 'tesla']

In [12]:
filtered_companies = [company for company in companies if company[0] == 'a']
print(filtered_companies)

['amazon', 'apple']

In [13]:
[company if company[0] == 'a' else '$' for company in companies]

['amazon', 'apple', '$', '$', '$', '$']

In [14]:
output = '\n'.join(companies) # delimiter.join(list)
print(output)

amazon
apple
facebook
google
netflix
tesla

## Sets

- unique, unordered, and mutable collections of immutable items
- stores items such as int, float, bool, str, float, tuple
- O(1) lookup, add and remove

In [15]:
courses = {'CME 211', 'CME 305', 'CME 307'}

In [16]:
courses.add('CME 212')
print(courses)

{'CME 211', 'CME 307', 'CME 212', 'CME 305'}

In [17]:
# we can not remove items that do not exist in the set
courses.remove('CS 229') # we expect error here!

KeyError: 'CS 229'

In [18]:
courses.remove('CME 307')
print(courses)

{'CME 211', 'CME 212', 'CME 305'}

In [19]:
setA = {1, 2, 3}
setB = {3, 4, 5}

In [20]:
print("Intersection of set A and B is {}".format(setA & setB))

Intersection of set A and B is {3}

In [21]:
print("Union of set A and B is {}".format(setA | setB))

Union of set A and B is {1, 2, 3, 4, 5}

## Tuples
- ordered, fixed length and immutable
- but tuples can store mutable items

In [22]:
daily_meal = ('pancakes', 'burger', 'salad')

In [23]:
daily_meal[1] = 'Coffee' # we expect error here!

TypeError: 'tuple' object does not support item assignment

In [24]:
breakfast, lunch, dinner = daily_meal # unpacking

In [25]:
print("breakfast is {}.".format(breakfast))

breakfast is pancakes.

In [26]:
print("lunch is {}.".format(lunch))

lunch is burger.

In [27]:
print("dinner is {}.".format(dinner))

dinner is salad.

In [28]:
# just like str, this creates a new tuple and returns it
daily_meal + ('chocolate',)

('pancakes', 'burger', 'salad', 'chocolate')

## Dict
- unordered, mutable
- keys must be of immutable type
- keys are unique
- O(1) lookup for keys, O(1) addition and removal for key, value pairs

In [29]:
import random

hiring_teams = {company : random.randint(1, 4) for company in companies}

In [30]:
print(hiring_teams)

{'amazon': 4, 'apple': 4, 'facebook': 1, 'google': 4, 'netflix': 1, 'tesla': 3}

In [31]:
hiring_teams['google'] = 5
print(hiring_teams)

{'amazon': 4, 'apple': 4, 'facebook': 1, 'google': 5, 'netflix': 1, 'tesla': 3}

In [32]:
hiring_teams['salesforce'] # we expect a KeyError here!

KeyError: 'salesforce'

In [33]:
# handle key errors gracefully
# note that : lookup for a key in dict is O(1)
if 'intel' in hiring_teams: 
    print(hiring_teams['intel'])
else:
    print("No information on intel")

No information on intel

In [38]:
print(hiring_teams.keys())

dict_keys(['amazon', 'apple', 'facebook', 'google', 'netflix', 'tesla'])

In [35]:
total_ht = 0

for num_ht in hiring_teams.values():
    total_ht += num_ht
    
print("Total number of hiring teams = {}".format(total_ht))

Total number of hiring teams = 18

In [36]:
for key, value in hiring_teams.items():
    print(key, value)

amazon 4
apple 4
facebook 1
google 5
netflix 1
tesla 3

In [37]:
for item in hiring_teams.items():
    # key, value = item 
    print(item[0], item[1])

amazon 4
apple 4
facebook 1
google 5
netflix 1
tesla 3